<div ng-controller="TutorialController" class="modal" id="modal-tutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding-bottom:30px">
      <div class="modal-header" style="padding: 0 10px">
        <ul class="pager">
          <li class="previous" ng-show="step != 1" ng-click="prev()"><a href="#">&larr; Previous</a></li>
          <li class="next" ng-show="step != last" ng-click="next()"><a href="#">Next &rarr;</a></li>
          <li class="next" ng-show="step == last"><a href="#" data-dismiss="modal">Close</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div ng-show="step == 1">
          <img src="<%= image_path("palava-papagei.png") %>" />
          <h3>Welcome to palava.tv</h3>
          Here you can video chat with your friends.<br>
        </div>
        <div ng-show="step == 2">
          <img src="<%= image_path("tutorial-decentralised.png") %>" />
          <h3>Palava is encrypted and decentralised</h3><br>
          Your whole video and audio stream is sent fully browser-to-browser encrypted.
          It is sent directly between you and your communication partners and never passes a server.
        </div>
        <div ng-show="step == 3">
          <h3>How it works (option 1)</h3><br>
          <p>Think of a room name (e.g. "caron-eric-chat") and enter it in the room field<p/><br><br>
          <img src="<%= image_path("tutorial-enter-roomname.png") %>" class="step-by-step" />
          <p>Choose which kind of chat you want to open: </p>
          <img src="<%= image_path("tutorial-audio-video.png")  %>" class="step-by-step" />
          <p>Send the link in the upper right corner to your friends or tell them name!</p><br><br>
        </div>
        <div ng-show="step == 4">
          <h3>How it works (option 2)</h3><br>
          Click on the "Private" button. This will generate a random and long room-name<br><br>
          <img src="<%= image_path("tutorial-private-button.png") %>" class="step-by-step" />
          You can now send the link (upper right corner on the chat-page) to your communication partners!</li>
          <img src="<%= image_path("tutorial-send-link.png") %>" class="step-by-step" />
        </div>
        <div ng-show="step == 5">
          <img src="<%= image_path("tutorial-chat-papagei.png") %>" />
          <h3>If all works well...</h3><br>
          ...you can now see and hear each other!
        </div>
        <div ng-show="step == 6">
          <h3>palava.tv works in the following browsers:</h3><br>
          Firefox<br><br>
          Chrome / Chromium<br><br>
          Opera<br><br>
        </div>
      </div>
    </div>
  </div>
</div>
