<div class="unstyled support-list">
  <div><a href="<%= settings.chrome_link %>"><%= image_tag('chrome.png') %><%= settings.chrome_description %></a></div>
  <div><a href="<%= settings.firefox_link %>"><%= image_tag('firefox.png') %><%= settings.firefox_description %></a></div>
  <div><a href="<%= settings.opera_link %>"><%= image_tag('opera.png') %><%= settings.opera_description %></a></div>
</div>
