---
layout: false
---

<!doctype html>
<html lang="en">
  <head>
    <title ng-bind="title">palava.tv</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="palava, webrtc, video, chat, conference">
    <meta name="description" content="palava enables video communication with your friends and colleagues from within your web browser! No registration is required and you don't need to install any browser plugins!">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "palava","all" %>
  </head>

  <body class="<%= page_classes %>">
    <div id="app">
      <%= partial '/html/noscript' %>
    </div>

    <%= partial "html/shared/modal_user_media" %>
    <%= partial "html/shared/modal_user_media_configurator" %>
    <%= partial "html/shared/modal_maintenance" %>
  </body>
</html>
